.activecounty {
    fillColor: #ff0000;
}

body {
  font: 12px sans-serif;
}

.arc path {
  stroke: #fff;
}

.legend rect {
    fill:white;
    stroke:none;
    opacity:0.8; 
}


path.slice{
    stroke-width:2px;
}

polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}