.cont {
    width: 400px;
}

#map {
    width: 100%;
}

.activecounty {
    fillColor: #ff0000;
}

body {
    /*
  font: 12px sans-serif;
  */
}

.arc path {
  stroke: #fff;
}

.legend rect {
    fill:white;
    stroke:none;
    opacity:0.0; 
}


path.slice{
    stroke-width:2px;
}

polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}


/*
floating "keep reading" button
*/
.floating-button {
  position: fixed;
  width: 75%;
  bottom: 30px;
  height: 60px;
  background-color: none;
}
.fa-caret-down {
    opacity: 0.35;
}

p.center {
    text-align: center;
}
