div.somespace {
    height: 5px;
}

/*
div#bodycontainer {
    width: 1000px;
}
*/

/* for scatterplot */

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 12px;
}

circle.active {
    stroke: black;
    stroke-width: 1;
}

circle.inactive {
    stroke: none;
    stroke-width: 1;
}

circle.scattercircles {
	fill-opacity: 0.5;
}

circle.scattercircles:hover {
  fill-opacity: 0.9;
}

.axislabel {
	font-family: sans-serif;
	font-size: 14px;
}

/* end for scatterplot */



.activecounty {
    fillColor: #ff0000;
}

.arc path {
  stroke: #fff;
}

.legend rect {
    fill:white;
    stroke:none;
    opacity:0.8; 
}

.ordinalkey rect {
    fill:white;
    stroke:none;
    opacity:0.8; 
}


path.slice{
    stroke-width:2px;
}

polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}



svg {
  font: 12px sans-serif;
}

.caption {
  font-weight: bold;
}

.key path {
  display: none;
}

.key line {
  stroke: #000;
  shape-rendering: crispEdges;
}
