{% extends 'base_map.html' %}

{% set mytitle="Education Levels in California Census Tracts" %}

{# ----------- title -------------- #}

{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #}

{% block content %}

<link href="{{ SITEURL }}/theme/css/non-responsive.css" rel="stylesheet" type="text/css" >

<link href="{{ SITEURL }}/educationca.css" rel="stylesheet" type="text/css" >

<h1><b>California</b></h1>

<h2><b>{{mytitle}}</b></h2>

<div class="row">

    <div class="col-xs-6">
        <h3><b><div class="state">Select County: </div></b></h3>
        <div id="education_county_scale"></div>
    </div>

    <div class="col-xs-6">
    </div>

</div>

<div class="somespace"></div>





<div class="row">

    <div class="col-xs-6">
        <div id="education_county"
            style="height: 400px;"></div>
    </div>

    <div class="col-xs-6">
        <div id="barchart"></div>
    </div>

</div>




<div class="somespace"></div>





<div class="row">

    <div class="col-xs-6">
        <h3><b>Census Tracts for County:</b></h3>
        <h3><b><div class="county">&nbsp;</div></b></h3>
        <div id="education_census_scale"></div>
    </div>

    <div class="col-xs-6">
        <h3><b>Education Levels: Mean vs Variance</b></h3>
        <h3><b><div class="census"></div></b></h3>
    </div>

</div>

<div class="row">

    <div class="col-xs-6">
        <div id="education_census"
            style="height: 400px;"></div>
    </div>


    <div class="col-xs-6">
        <div id="scatterplot"></div>
    </div>

</div>






<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js" type="text/javascript"> </script>
<script src="{{ SITEURL }}/theme/js/leaflet.ajax.min.js" type="text/javascript"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/colorbrewer.v1.min.js"></script>
<script src="{{ SITEURL }}/theme/js/d3.legend.js"></script>
<script src="{{ SITEURL }}/barchart_educationca.js" type="text/javascript"> </script>
<script src="{{ SITEURL }}/educationca.js" type="text/javascript"> </script>


{% endblock %}
