{% extends 'base_map.html' %}

{% set mytitle="Feudal Japan" %}

{# ----------- title -------------- #}

{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #}

{% block content %}

<h2>{{ mytitle }}</h2>

<p>Be patient! This map takes a minute to load...</p>

<div id="map" style="width: 800px; height: 600px;"></div>

<!-- ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js" type="text/javascript"> </script>
<script src="{{ SITEURL }}/theme/js/leaflet.ajax.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ SITEURL }}/feudaljapan.js"></script>

{% endblock %}

